name: Test Verification

on: 
  push:
    branches:
      - master
jobs:
  build-ubuntu:
    name: Build and Test Ubuntu Latest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Init submodules
      run: git submodule update --init --recursive
    - name: Build the Ubuntu Latest Docker image
      run: docker build . --file .ci/Dockerfile.ubuntu --tag ubuntu_debugimage:latest
    - name: Run tests
      run: docker run ubuntu_debugimage:latest ctest /build --output-on-failure
  #build-windows:
    #runs-on: windows-latest
    #name: Build and Test Windows
    #steps:
    #- uses: actions/checkout@v1
    #- name: Init submodules
      #run: git submodule update --init --recursive
    #- name: Build the Docker image
      #run: docker build . --file .ci/Dockerfile.windows --isolation=hyperv --tag windows_debugimage:latest -m 2GB
